body {
  background-color: $grad-search-start;
  background: linear-gradient(-45deg, $grad-search-end, $grad-search-start);
}


.bg-elements {
  @include flexbox;
  @include flex-direction(row);
  @include flex(1);
  position: relative;

  .bg-colors {
    opacity: 0;
    transition: opacity $scene-trans;

    .color {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity $scene-trans;
    }

    .day-clean {
      z-index: 10;
      background-color: $grad-day-clean-start;
      background: linear-gradient(-45deg, $grad-day-clean-end, $grad-day-clean-start);
    }

    .day-dark {
      z-index: 20;
      background-color: $grad-day-dark-start;
      background: linear-gradient(-45deg, $grad-day-dark-end, $grad-day-dark-start);
    }

    .night-clean {
      z-index: 30;
      background-color: $grad-night-clean-start;
      background: linear-gradient(-45deg, $grad-night-clean-end, $grad-night-clean-start);
    }

    .night-dark {
      z-index: 40;
      background-color: $grad-night-dark-start;
      background: linear-gradient(-45deg, $grad-night-dark-end, $grad-night-dark-start);
    }

    &.weather {
      opacity: 0;

      &.day.clean { .day-clean {opacity: 1;} }
      &.day.dark { .day-dark {opacity: 1;} }
      &.night.clean { .night-clean {opacity: 1;} }
      &.night.dark { .night-dark {opacity: 1;} }
    }

    &.weather.ready {
      opacity: 1;
    }

    &.init.search {
      opacity: 0;
    }
  }

  .main-logo {
    position: absolute;
    z-index: 100;
    fill: $white;
    width: 124px;
    height: auto;
    bottom: 0%;
    transition: all $scene-trans;
    opacity: 0;
  }

  .main-logo.weather.ready {
    width: 124px;
    left: 0%;
    margin-left: 0px;
    opacity: 1;
  }

  .main-logo.search {
    fill: $blue;
    width: 124px;
    left: 50%;
    margin-left: -62px;
    opacity: 1;
    transform: scale(1.8);
  }

  .main-logo.start-search.search {
    fill: $blue;
    width: 124px;
    left: 50%;
    margin-left: -62px;
    opacity: 0;
    transform: scale(0);
    animation-name: init-logo-anim;
    animation-duration: $appear-duration + 250ms;
    animation-fill-mode: forwards;
    animation-delay: $appear-delay;
  }

  @keyframes init-logo-anim {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1.8); }
  }

  .main-logo.start-weather.weather {
    opacity: 0;

    animation-name: weather-logo-anim;
    animation-duration: $form-trans-duration;
    animation-fill-mode: forwards;
    animation-delay: 10 * $form-trans-seq;
  }

  @keyframes weather-logo-anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



    ///// RESPONSIVITY

    ///// res-laptop
    @media only screen and (min-width: 1001px) and (max-width: 1200px) {

    }

    @media only screen and (min-height: 601px) and (max-height: 800px) {

    }

    ///// res-tablet
    @media only screen and (min-width: 601px) and (max-width: 1000px) {
      .main-logo.weather.ready {
        width: 124px;
        left: 0%;
        bottom: inherit;
        top: 500px;
      }

      .main-logo.search {
        transform: scale(1);
        width: 124px;
        bottom: inherit;
        top: 500px;
        animation-name: init-logo-anim-small;
      }

      .main-logo.start-search.search {
        width: 124px;
        bottom: inherit;
        top: 500px;
        animation-name: init-logo-anim-small;
      }
    }

    @media only screen and (max-height: 600px) {

    }

    ///// res-mobile
    @media only screen and (max-width: 700px) {

      .main-logo.weather.ready {
        width: 124px;
        left: 0%;
        bottom: inherit;
        top: 500px;

      }

      .main-logo.search {
        transform: scale(1);
        width: 124px;
        bottom: inherit;
        top: 500px;
        animation-name: init-logo-anim-small;
      }


      .main-logo.start-search.search {
        width: 124px;
        bottom: inherit;
        top: 500px;
        animation-name: init-logo-anim-small;
      }


    }


}

@keyframes init-logo-anim-small {
  0% { opacity: 0; transform: scale(0); }
  100% { opacity: 1; transform: scale(1); }
}


.loader-spinner {
  $spinner-speed: 800ms;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;

  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;

  opacity: 0;
  transition: opacity 200ms;
  transition-delay: 0ms;

  &.loading {
    opacity: 1;
    transition-delay: 350ms;
  }

  -webkit-animation: sk-rotate $spinner-speed infinite linear;
  animation: sk-rotate $spinner-speed infinite linear;


  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $blue;
    border-radius: 100%;

    -webkit-animation: sk-bounce $spinner-speed infinite ease-in-out;
    animation: sk-bounce $spinner-speed infinite ease-in-out;
  }

  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -$spinner-speed/2;
    animation-delay: -$spinner-speed/2;
  }

  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}


  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
