body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: $blue;

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: $normal-padding-vertical $normal-padding-horizontal;
  box-sizing: border-box;
  @include flexbox;
  @include flex-direction(column);

  opacity: 1;
  animation: none;

  animation-duration: $init-duration;
  animation-fill-mode: forwards;
  animation-delay: $init-delay;

  .wrapper {
    @include flexbox;
    @include flex-direction(row);
    @include flex(1);
    position: relative;
  }

  &.search.init, &.search.error, &.search.lodaing {
    opacity: 1;
    animation: none;
  }
}

@keyframes app-init-anim {
  0% { opacity: 0; }
  100% { opacity:1; }
}


.svg-icon {
  display: block;
  line-height: 100%;
  vertical-align: middle;

  label {
    display: block;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

///// RESPONSIVITY

///// res-laptop
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .app-container {
    padding: $laptop-padding-vertical $laptop-padding-horizontal;
  }
}

@media only screen and (min-height: 501px) and (max-height: 700px) {
  .app-container {
    padding: $laptop-padding-vertical;
  }
}

///// res-tablet
@media only screen and (min-width: 501px) and (max-width: 800px) {
  .app-container {
    padding: $tablet-padding-vertical $tablet-padding-horizontal;
  }
}

@media only screen and (max-height: 600px) {
  .app-container {
    padding: $laptop-padding-vertical;
  }
}

///// res-mobile
@media only screen and (max-width: 500px) {
  .app-container {
    padding: $mobile-padding-vertical $mobile-padding-horizontal;
  }
}
