.feedback-elements {
  position: absolute;
  z-index: 300;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  @include flexbox;
  @include flex-direction(column);
  @include flex(1);
  @include justify-content(center);
  @include align-items(center);

  .feedback-box {
    opacity: 0;
    animation-name: feedback-init;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
  }

  @keyframes feedback-init {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .feedback-box {
    text-align: center;

    h3 {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: $red;
      opacity: 0;
      transform: scale(0);
      transition: all 300ms;
    }

    p {
      margin: 8px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: $red;
      opacity: 0;
      transform: scale(0);
      transition: all 300ms;
      transition-delay: 150ms;
    }
  }



  .feedback-box.search.error {
    h3 {
      opacity: 0;
      transform: scale(0);

      animation-name: feedback-title;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }

    @keyframes feedback-title {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }



    p {
      opacity: 0;
      transform: scale(0);

      animation-name: feedback-text;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-delay: 150ms;
    }

    @keyframes feedback-text {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  ///// res-tablet
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    bottom: inherit;
    height: 500px;
  }

  @media only screen and (max-width: 700px) {
    bottom: inherit;
    height: 500px;
  }
}
