.form-container {
  position: absolute;
  z-index: 7000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  *:focus {
      outline: none;
  }

  $input-height: 80px;
  $input-width-search: 700px;

  form {
    position: relative;
  }

  .input-box {
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: -10px;
    left: 0%; //left: 50%;
    margin-left: 0px; //margin-left: -$input-width-search /2;
    transition: all $form-trans-duration;

    .input-elements {
      line-height: 100%;

      label {
        position: absolute;
        z-index: 60;
        top: -25px;
        opacity: 0;
        left: 0px;
        right: 0px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.2em;
        user-select: none;
        transition: all $form-trans-duration;
        transition-delay: 4 * $form-trans-seq;
      }

      .svg-icon.search {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 32px;
        left: -36px;
        width: 16px;
        fill: $white;
        opacity: 0;
        transition: all $form-trans-duration;
        transition-delay: 3 * $form-trans-seq;
      }
    }


    input {
      font-family: $font-family;
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      height: $input-height;
      padding: 0px 0px;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      color: $white;
      background: none;
      border: none;
      opacity: 0;
      transition: all $form-trans-duration;
      transition-delay: 2 * $form-trans-seq;

      &::placeholder {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: rgba($blue, 0.4);
      }

      &.smalltext {
        font-size: 28px;
      }
    }

    .shadowtext {
      min-width: 100px;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      display: inline-block;
      padding: 0px 0px;
      opacity: 0;
      transition: all $form-trans-duration;
      -webkit-user-select: none; /* Safari 3.1+ */
      -moz-user-select: none; /* Firefox 2+ */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;

      &.smalltext {
        font-size: 28px;
      }
      background: rgba(255,0,0,0.2);
    }

    .underline {
      display: block;
      text-align: center;



      &:before {
        content: '';
        margin: 0px auto;
        display: block;
        background: $blue;
        height: 1px;
        width: 0%;
        transition: all $form-trans-duration;
        transition-delay: 0 * $form-trans-seq;
      }
    }
  }

  .button-box {
    text-align: center;
    padding-top: $input-height + 14px;

    button {
      background: $white;
      border: none;
      color: $blue;
      width: 200px;
      height: 32px;
      font-family: $font-family;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      cursor: pointer;

      transform: scaleX(0);
      opacity: 0;

      transition: transform $form-trans-duration 5 * $form-trans-seq, background 200ms 0ms, color 200ms 0ms;

      span {
        opacity: 0;
        transition: opacity $form-trans-duration;
        transition-delay: (5 * $form-trans-seq) + $form-trans-duration;
      }

      &:hover {
        background: $blue;
        color: $white;
      }
    }

    &:focus, &:hover, &:target, &:active {
      border: none;
    }
  }

  /// stage


  &.search {
  &.ready, &.error, &.loading {
    .input-box {
      left: 50%;
      width: $input-width-search;
      margin-left: -$input-width-search /2;

      input {
        color: $blue;
        opacity: 1;
      }

      .shadowtext {
        min-width:   $input-width-search;
      }

      .input-elements {
        label {
          opacity: 1;
          transition-delay: 1 * $form-trans-seq;
        }

        .underline:before {
          width: 100%;
          transition-delay: 3 * $form-trans-seq;
        }

        .svg-icon.search {
          fill: $blue;
          cursor: default;
          left: 0px;
          opacity: 1;
          transition-delay: 1 * $form-trans-seq;
        }
      }
    }

    .button-box {
      button {
        transform: scaleX(1);
        opacity: 1;

        span {
          opacity: 1;
        }
      }
    }

  }
  }


  ///// phases

  &.ready {
    .input-box {
      .input-elements {
        .svg-icon.search {
          opacity: 1;
        }
      }

      input {
        opacity: 1;
      }
    }

  }

  &.start-search.search {

    .input-box {
      left: 50%;
      width: $input-width-search;
      margin-left: -$input-width-search /2;
      transition: all 0ms;

      input {
        color: $blue;
        opacity: 0;
        animation-name: init-input-anim;
        animation-duration: $form-trans-duration;
        animation-fill-mode: forwards;
        animation-delay: 2 * $form-trans-seq;
      }

      @keyframes init-input-anim {
        0% { opacity: 0; }
        100% { opacity: 1;}
      }

      .shadowtext {
        min-width:   $input-width-search;
      }

      .input-elements {
        label {
          opacity: 0;
          animation-name: init-label-anim;
          animation-duration: $form-trans-duration;
          animation-fill-mode: forwards;
          animation-delay: 4 * $form-trans-seq;
        }

        @keyframes init-label-anim {
          0% { opacity: 0; }
          100% { opacity: 1;}
        }

        .underline:before {
          width: 0%;
          animation-name: init-underline-anim;
          animation-duration: $form-trans-duration;
          animation-fill-mode: forwards;
          animation-delay: 0 * $form-trans-seq;
        }

        @keyframes init-underline-anim {
          0% { width: 0%; }
          100% { width: 100%;}
        }

        .svg-icon.search {
          fill: $blue;
          cursor: default;
          left: 0px;
          opacity: 0;
          animation-name: init-icon-anim;
          animation-duration: $form-trans-duration;
          animation-fill-mode: forwards;
          animation-delay: 3 * $form-trans-seq;
        }

        @keyframes init-icon-anim {
          0% { opacity: 0; }
          100% { opacity: 1;}
        }
      }
    }

    .button-box {
      button {
        transform: scaleX(0);
        opacity: 0;
        animation-name: init-button-anim;
        animation-duration: $form-trans-duration;
        animation-fill-mode: forwards;
        animation-delay: 5 * $form-trans-seq;

        span {
          opacity: 0;
          animation-name: init-buttonspan-anim;
          animation-duration: $form-trans-duration;
          animation-fill-mode: forwards;
          animation-delay: (5 * $form-trans-seq) + $form-trans-duration;
        }
      }

      @keyframes init-button-anim {
        0% { transform: scaleX(0); opacity: 0; }
        100% { transform: scaleX(1); opacity: 1; }
      }

      @keyframes init-buttonspan-anim {
        0% { opacity: 0; }
        100% { opacity: 1;}
      }
    }
  }

  &.start-weather.weather {
    opacity: 0;
    animation-name: weather-form-anim;
    animation-duration: $form-trans-duration;
    animation-fill-mode: forwards;
    animation-delay: 0 * $form-trans-seq;
  }

  @keyframes weather-form-anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

}


$suggestion-row-height: 56px;
$suggestion-scrollbar: 16px;

.suggestions-wrapper {
  position: relative;
}

.react-autosuggest__container {
  .suggestions-wrapper {
    opacity: 0;
    transition: opacity 250ms;
    transition-delay: 0ms;
  }

  &[class*="--open"] {
    .suggestions-wrapper {
      opacity: 1;
      transition-delay: 300ms;
    }
  }
}

.suggestions-container {
  position: absolute;
  top: 1px;
  left: 0px;
  right: -$suggestion-scrollbar;

  .thumb-vertical {
      background: rgba($blue, 0.15);
      border-radius: 10px;
      cursor: pointer;
  }

  .suggestions, #react-autowhatever-1 {
    box-sizing: border-box;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: $suggestion-row-height * 5;


    ul {
      margin: 0px;
      padding: 0px;
      padding-right: $suggestion-scrollbar;
      list-style-type: none;


      li {
        margin: 0px;
        padding: 0px;
        background: $white;
        box-sizing: border-box;
        height: $suggestion-row-height;
        border-bottom: 1px solid rgba($blue, 0.1);

        &:last-child {
          border-bottom: none;
        }

        &[class*="--highlight"] {
          background: #EDF3FD;
        }

        .sugg-row-info {
          padding-top: 20px;

          .city {
            float: left;
            margin-left: 30px;
            text-align: left;
            font-size: 18px;
            font-weight:600;
            color: rgba($blue, 0.5);

            .match{
              color: $blue;
            }
          }

          .pop {
            float:right;
            margin-right: 30px;
            text-align: right;
            font-size: 14px;
            font-weight: 300;
            opacity: 0.5;
          }
        }
      }
    }
  }
}


///// RESPONSIVITY

///// res-laptop
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .form-container{
    .input-box{
      input, .shadowtext{
        font-size: 28px;

        &.smalltext {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (min-height: 601px) and (max-height: 800px) {

}

///// res-tablet
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .form-container{
    .input-box{
      input, .shadowtext{
        font-size: 28px;

        &.smalltext {
          font-size: 22px;
        }
      }

      .input-elements {
        label {
              top: -15px;
        }
      }
    }
  }
}

@media only screen and (max-height: 600px) {

}

///// res-mobile
@media only screen and (max-width: 720px) {
  .form-container{

    .button-box {
      text-align: center;
      padding-top: 110px;
    }

    .input-box{
      top: 30px;

      input {
        height: 50px;
      }

      input, .shadowtext{
        font-size: 28px;

        &.smalltext {
          font-size: 22px;
        }
      }

      .input-elements {
        label {
          font-size: 12px;
        }
        .svg-icon.search {
          top: 18px;
          left: inherit;
          right: -25px;
          width: 12px;
        }
      }
    }
  }

  .form-container.search.ready, .form-container.start-search.search, .form-container.search.error, .form-container.search.loading {
    .input-box{
      left: 50%;
      width: 300px;
      margin-left: -150px;

      .input-elements {
        .svg-icon.search {
          left: inherit;
          right: 0px;
        }
      }

      .shadowtext{
        min-width: 300px;
      }
    }
  }

  .suggestions-container {
    right: 0px;

    .suggestions, #react-autowhatever-1 {
      ul {
        padding-right: 0px;
      }
      ul li .sugg-row-info {
        .city {
          margin-left: 20px;
          font-size: 14px;
        }

        .pop {
          display: none;
        }
      }
    }

  }
}
