.forecast-elements {
  position: absolute;
  z-index: 500;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  @include flexbox;
  @include flex-direction(column);
  @include flex(1);
  @include justify-content(flex-end);
  @include align-items(stretch);

  color: $white;

  .forecast-wrapper {
    @include flexbox;
    @include flex-direction(row);
    @include flex(0.4);
    @include justify-content(flex-end);
    @include align-items(stretch);

  }

  .forecast-container {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include align-items(flex-end);

    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0px;
      right: -$normal-padding-horizontal;
      height: 1px;
      background: $white;

      left: 100%;
      opacity: 0;
      transition: all $scene-trans;
      transition-delay: 0ms;
    }
  }

  .item {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    text-align: left;
    overflow: hidden;

    opacity: 0;
    width: 100px;
    transition: all $scene-trans;
    transition-delay: 0ms;

    &:first-child {
      margin-left: 0px;
    }

    .data {
      margin-bottom: 5px;
    }

    .date {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .illust {
      height: 60px;

      .svg-icon {
        fill: $white;
        width: 54px;
      }
    }

    .info {
      font-size: 16px;
      font-weight: 200;
    }

    .min, .max {
      span {
        float: right;
      }
    }

    .desc {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(flex-start);
      @include align-items(flex-end);
      margin-bottom: 15px;
      height: 40px;

      span:first-letter {
        text-transform: capitalize;
      }
    }
  }

  &.weather {
    .forecast-container {
      &:before {
        left: 0%;
        opacity: 1;
        transition-delay: $scene-trans;
      }
    }

    .item {
      opacity: 1;
      width: 100px;
      transition: all $scene-trans;
    }

    .item:nth-child(1) {transition-delay: $scene-trans + 0ms;}
    .item:nth-child(2) {transition-delay: $scene-trans + 50ms;}
    .item:nth-child(3) {transition-delay: $scene-trans + 100ms;}
    .item:nth-child(4) {transition-delay: $scene-trans + 150ms;}
    .item:nth-child(5) {transition-delay: $scene-trans + 200ms;}
    .item:nth-child(6) {transition-delay: $scene-trans + 250ms;}
    .item:nth-child(7) {transition-delay: $scene-trans + 300ms;}
  }

  &.start-weather.weather {

    .item {
      opacity: 0;
      animation-name: weather-forecast-anim;
      animation-duration: $form-trans-duration;
      animation-fill-mode: forwards;
    }

    $forecast-shift: 6 * $form-trans-seq;

    .item:nth-child(1) { animation-delay: $forecast-shift + (1 * $form-trans-seq); }
    .item:nth-child(2) { animation-delay: $forecast-shift + (2 * $form-trans-seq); }
    .item:nth-child(3) { animation-delay: $forecast-shift + (3 * $form-trans-seq); }
    .item:nth-child(4) { animation-delay: $forecast-shift + (4 * $form-trans-seq); }
    .item:nth-child(5) { animation-delay: $forecast-shift + (5 * $form-trans-seq); }
    .item:nth-child(6) { animation-delay: $forecast-shift + (6 * $form-trans-seq); }
    .item:nth-child(7) { animation-delay: $forecast-shift + (7 * $form-trans-seq); }
  }

  @keyframes weather-forecast-anim {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

  ///// RESPONSIVITY

  @media only screen and (max-width: 1800px) {
    .item:nth-child(6) { display: none; }
    .item:nth-child(7) { display: none; }
  }

  @media only screen and (max-width: 1500px) {
    .item:nth-child(4) { display: none; }
    .item:nth-child(5) { display: none; }
  }

  ///// res-laptop
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {

  }

  @media only screen and (min-height: 601px) and (max-height: 800px) {
    .item {
      .data {
        margin-bottom: 0px;
      }

      .date {
        font-size: 14px;
        margin-bottom: 8px;
      }

      .illust {
        height: 50px;

        .svg-icon {
          width: 34px;
        }
      }

      .desc {
        height: 30px;
        margin-bottom: 4px;
        line-height: 110%;
      }

      .info {
        font-size: 12px;
      }
    }
  }

  ///// res-tablet
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    bottom: inherit;
    margin-top: 600px;
    padding-bottom: 100px;
    @include justify-content(flex-start);

    .forecast-wrapper {

      @include flex-direction(column);
      @include justify-content(flex-end);
      @include align-items(stretch);
    }

    .forecast-container {
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(stretch);

      padding-top: 40px;

      &:before {
        right: 0px;
      }
    }

    .item {
      display: block !important;
      width: auto !important;
      margin-left: 0px;
      overflow: visible;
      height: 80px;

      margin-top: 40px;

      .first {
        width: 120px;
        vertical-align: top;
        display: inline-block;
        white-space: nowrap;
      }

      .second {
        vertical-align: top;
        display: inline-block;
        margin-left: 50px;
        margin-top: -8px;
      }

      .data {
        margin-bottom: 0px;
      }

      .date {
        font-size: 14px;
        margin-bottom: 8px;
        vertical-align: top;
        display: inline-block;
        width: 70px;
        font-size: 18px;
      }

      .illust {
        height: 50px;
        vertical-align: top;
        display: inline-block;
        margin-top: -12px;

        .svg-icon {
          width: 48px;
        }
      }

      .desc {
        height: inherit;
        margin-bottom: 4px;
        line-height: 110%;
      }

      .info {
        font-size: 14px;
      }

      .min, .max {
        display: inline-block;

        span {
          float: none;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }

  @media only screen and (max-height: 600px) {
    bottom: inherit;
    margin-top: 500px;
    padding-bottom: 100px;
    @include justify-content(flex-start);

    .forecast-wrapper {

      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(stretch);
    }

    .forecast-container {
      padding-top: 100px;
      @include justify-content(space-between);
      @include align-items(flex-end);

      &:before {
        right: 0px;
      }
    }
  }

  ///// res-mobile
  @media only screen and (max-width: 700px) {
    bottom: inherit;
    margin-top: 500px;
    padding-bottom: 100px;
    @include justify-content(flex-start);

    .forecast-wrapper {

      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(stretch);
    }

    .forecast-container {
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(stretch);

      padding-top: 40px;

      &:before {
        right: 0px;
        display: none;
      }
    }

    .item {
      display: block !important;
      width: auto !important;
      margin-left: 0px;
      overflow: visible;
      height: 80px;
      border-top: 1px solid rgba($white, 0.4);
      padding-top: 30px;
      margin-top: 40px;

      .first {
        width: 80px;
        vertical-align: top;
        display: inline-block;
        white-space: nowrap;
      }

      .second {
        vertical-align: top;
        display: inline-block;
        margin-left: inherit;
        margin-top: 0px;
        float: right;
        text-align: right;
      }

      .data {
        margin-bottom: 0px;
      }

      .date {
        font-size: 14px;
        margin-bottom: 8px;
        vertical-align: top;
        display: block;
        width: 70px;
        font-size: 18px;
      }

      .illust {
        height: 50px;
        vertical-align: top;
        display: block;
        margin-top: 12px;

        .svg-icon {
          width: 48px;
        }
      }

      .desc {
        height: inherit;
        margin-bottom: 4px;
        line-height: 110%;
        @include justify-content(flex-end);
      }

      .info {
        font-size: 14px;
        text-align: right;
      }

      .min, .max {
        display: inline-block;

        span {
          float: none;
          display: inline-block;
          margin-right: 10px;
        }
      }

      .max {
        span {
          margin: 0px;
        }
      }
    }
  }

}
