.illustration-elements {
  position: fixed;
  z-index: 250;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  overflow: hidden;

  .icon-container {
    position: absolute;
    top: $normal-padding-vertical;
    right: $normal-padding-horizontal;
    opacity: 0;
    transform: translateX(200%);
    transition: all $scene-trans;
    transition-delay: 0ms;

    .weather-icon {
      width: 300px;
      fill: $white;
    }
  }

  .icon-container.weather {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 300ms;
  }

  .icon-container.start-weather.weather {
    opacity: 0;
    animation-name: weather-illust-anim;
    animation-duration: $form-trans-duration;
    animation-fill-mode: forwards;
    animation-delay: 0 * $form-trans-seq;
  }

  @keyframes weather-illust-anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  ///// RESPONSIVITY

  ///// res-laptop
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .icon-container {
      top: $laptop-padding-vertical + 20;
      right: $laptop-padding-horizontal;

      .weather-icon { width: 250px; }
    }
  }

  @media only screen and (min-height: 601px) and (max-height: 800px) {
    .icon-container {
      .weather-icon { width: 250px; }
    }
  }

  ///// res-tablet
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    position: absolute;
    top: -$tablet-padding-vertical;
    right: -$tablet-padding-vertical;

    .icon-container {
      top: $tablet-padding-vertical + 20;
      right: $tablet-padding-horizontal;

      .weather-icon { width: 180px; }
    }
  }

  @media only screen and (max-height: 600px) {
    position: absolute;
    top: -$tablet-padding-vertical;
    right: -$tablet-padding-vertical;

    .icon-container {
      //top: 0px;
      //right: 0px;
      top: $tablet-padding-vertical;
      right: $tablet-padding-horizontal;

      .weather-icon { width: 300px; }
    }
  }

  ///// res-mobile
  @media only screen and (max-width: 600px) {
    position: absolute;
    //top: -$mobile-padding-vertical;
    right: -$mobile-padding-vertical;

    .icon-container {
      top: 130px;
      right: $tablet-padding-vertical;


      .weather-icon { width: 120px; }
    }
  }

  @media only screen and (max-height: 400px) {
    position: absolute;
    top: -$laptop-padding-vertical;
    right: -$laptop-padding-vertical;

    .icon-container {
      //top: 0px;
      //right: 0px;
      top: $laptop-padding-vertical;
      right: $laptop-padding-horizontal;

      .weather-icon { width: 150px; }
    }
  }


}
