
//// COLORS
$black: #000000;
$white: #FFFFFF;
$blue: #0057E0;
$red: #FF297F;

$font-family: 'Nunito', sans-serif;

$grad-search-start: #D3FAFE;
$grad-search-end: #71E6FF;

$grad-day-clean-start: #2197F4;
$grad-day-clean-end: #21DBF4;
$grad-day-dark-start: #5A8FB8;
$grad-day-dark-end: #5AADB8;

$grad-night-clean-start: #0010A4;
$grad-night-clean-end: #0071F6;
$grad-night-dark-start: #272D64;
$grad-night-dark-end: #275282;

//// padding

$normal-padding-vertical: 100px;
$normal-padding-horizontal: 150px;

$laptop-padding-vertical: 60px;
$laptop-padding-horizontal: 90px;

$tablet-padding-vertical: 40px;
$tablet-padding-horizontal: 50px;

$mobile-padding-vertical: 20px;
$mobile-padding-horizontal: 20px;

/// timeing

$init-delay: 100ms;
$init-duration: 200ms;

$appear-delay: $init-delay + $init-duration + 250ms;
$appear-duration: 250ms;

$form-trans-duration: 500ms;
$form-trans-seq: 100ms;

$scene-trans: 800ms;
