.weather-elements {
  position: absolute;
  z-index: 400;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  padding-top: 70px;

  color: $white;

  .temp {
    margin-bottom: 20px;
    opacity: 0;
    transition: all $scene-trans;
    transition-delay: 0ms;

    span {
      display: inline-block;
      vertical-align: top;
      line-height: 100%;
    }

    .num {
      font-size: 144px;
      font-weight: 900;
    }

    .sign {
      font-size: 144px;
      font-weight: 200;
    }
  }

  table {
    margin: 40px 0px 0px 0px;
    padding: 0px;

    tr {
      opacity: 0;
      transform: translateX(-50%);
      transition: all $scene-trans/2;
      transition-delay: 200ms;
    }



    tr {
      margin: 0px;
      padding: 0px;

      .cell {
        text-align: left;
        vertical-align: top;
        font-size: 18px;
        font-weight: 200;
        padding: 0px 20px 15px 0px;
      }

      .title {
        font-weight: 500;
      }

      .date {
        font-size: 24px;
        font-weight: 500;
        //padding-bottom: 28px;
      }

      .minmax {
        font-size: 16px;
        letter-spacing: 0.1em;
        padding-bottom: 30px;

        span {
          display: inline-block;
          width: 16px;
        }
      }

      .cloudiness {
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }

  &.weather {
    .temp {
      opacity: 1;
      transition-delay: 300ms;
    }

    table {
      tr {
        opacity: 1;
        transform: translateX(0%);
      }

      tr:nth-child(1) { transition-delay: 400ms; }
      tr:nth-child(2) { transition-delay: 450ms; }
      tr:nth-child(3) { transition-delay: 500ms; }
      tr:nth-child(4) { transition-delay: 550ms; }
      tr:nth-child(5) { transition-delay: 600ms; }
      tr:nth-child(6) { transition-delay: 650ms; }
    }
  }

  &.start-weather.weather {
    .temp {
      opacity: 0;

      animation-name: weather-weather-anim;
      animation-duration: $form-trans-duration;
      animation-fill-mode: forwards;
      animation-delay: 2 * $form-trans-seq;
    }

    table {
      tr {
        opacity: 0;
        animation-name: weather-weather-anim;
        animation-duration: $form-trans-duration;
        animation-fill-mode: forwards;
      }

      tr:nth-child(1) { animation-delay: 3 * $form-trans-seq; }
      tr:nth-child(2) { animation-delay: 4 * $form-trans-seq; }
      tr:nth-child(3) { animation-delay: 5 * $form-trans-seq; }
      tr:nth-child(4) { animation-delay: 6 * $form-trans-seq; }
      tr:nth-child(5) { animation-delay: 7 * $form-trans-seq; }
      tr:nth-child(6) { animation-delay: 8 * $form-trans-seq; }
    }

    @keyframes weather-weather-anim {
      0% { opacity: 0;}
      100% { opacity: 1;}
    }
  }


  ///// RESPONSIVITY

  ///// res-laptop
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .temp {
      .num, .sign {
        font-size: 96px;
      }
    }
  }

  @media only screen and (min-height: 601px) and (max-height: 800px) {
    .temp {
      .num, .sign {
        font-size: 96px;
      }
    }
  }

  ///// res-tablet
  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    .temp {
      .num, .sign {
        font-size: 86px;
      }
    }
  }

  @media only screen and (max-height: 600px) {
    .temp {
      .num, .sign {
        font-size: 86px;
      }
    }
  }

  ///// res-mobile
  @media only screen and (max-width: 700px) {
    padding-top: 80px;

    .temp {
      margin-bottom: 140px;
      .num, .sign {
        font-size: 64px;
      }
    }

    table tr .cell {
        font-size: 14px;
        padding: 0px 20px 6px 0px;

        &.minmax {
          padding-bottom: 20px;
        }
    }
  }
}
